@charset "UTF-8";

.bolt_wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.bolt_header, .bolt_footer  {
  width: 100%;
}

.bolt_inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt_header  {
  position: fixed;
  padding: 15px 0;
  background-color: white;
}

.header_inner  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_button {
  font-size: 12px;
  padding: 14px 12px;
  color: white;
  background-color: #74cfae;
  text-decoration: none;
}

.bolt_main {
  width: 100%;
  padding: 250px 0;
  text-align: center;
  background-color: #f2f2f2;
}

.bolt_main h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.bolt_main p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.bolt_section {
  width: 100%;
  padding: 50px 0 0 0;
  background-color: #74cfae;
  }

.section_inner {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bolt_section_right {
  color: white;
}

.bolt_section_right h1 {
  font-size: 24px;
}

.bolt_section_right p {
  margin-top: 35px;
  width: 750px;
  font-size: 20px;
  word-break: keep-all;
}

.bolt_article {
  width: 100%;
  background-color: #f2f2f2;
}

.article_inner {
  text-align: center;
  padding: 60px 0 70px;
}

.bolt_article h1, .bolt_article p {
  color: #333;
}

.bolt_article h1 {
  font-size: 24px;
}

.article_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row-gap: 80px;
  grid-column-gap: 100px;
}

.article_content_under {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.article_content_under p {
  width: 530px;
}

.article_button {
  padding: 14px 20px;
  font-size: 12px;
  color: white;
  background-color: #74cfae;
  margin-left: 90px;
  text-decoration: none;
}

.bolt_figure {
  width: 100%;
  background-color: #4e4e4e;
}

.figure_inner {
  padding: 70px 0 100px;
  text-align: center;
}

.figure_inner p, .figure_inner h1{
  color: white;
}

.figure_content {
  margin-top: 50px;
  display: flex;
}

.figure_content_item {
  margin-left: 180px;
  text-align: center;
}

.figure_content_item:first-child {
  margin-left: auto;
}

.figure_content_item:last-child {
  margin-right: auto;
}

.figure_content_item p  {
  margin-top: 10px;
}

.bolt_nav {
  width: 100%;
  background-color: #f2f2f2;
}

.nav_inner  {
  padding: 200px 0 200px;  
  display: flex;
  justify-content: center;
}

.nav_hover {
  width: 185px;
  padding: 20px 0;
  text-align: center;
}

.nav_hover:hover {
  background-color: white;
  transition: 0.2s;
}

.nav_inner i {
  color:  #74cfae;
}

.bolt_footer  {
  width: 100%;
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

.footer_inner p {
  font-size: 12px;
  color: white;
}