@charset "UTF-8";

.bolt_wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
  font-family: 'Lato';
  font-weight: lighter;
  color: #333;
}

.bolt_inner {
  width: 1100px;
  margin: 0 auto;
}

.bolt_header  {
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 15px 0;
  background-color: white;
}

.header_inner  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_button {
  font-size: 12px;
  padding: 14px 12px;
  color: white;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.header_button:hover {
  color: #333;
}

.bolt_main {
  padding-top: 70px;
  background-color: #f2f2f2;
}

.main_inner {
  padding: 250px 0;
  text-align: center;
}

.main_inner h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: 'Raleway';
}

.bolt_main p {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.bolt_section {
  padding-top: 50px;
  background-color: #74cfae;
  }

.section_inner {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bolt_section_right h2 {
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: lighter;
  color: white;
}

.bolt_section_right p {
  margin-top: 35px;
  width: 650px;
  font-size: 20px;
  word-break: keep-all;
  color: white;
}

.bolt_article {
  background-color: #f2f2f2;
}

.article_inner {
  text-align: center;
  padding: 60px 0 70px;
}

.bolt_article h2, .bolt_article p {
  color: #333;
}

.bolt_article h2 {
  font-size: 24px;
  font-family: 'Raleway';
  font-weight: lighter;
}

.article_grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row-gap: 80px;
  grid-column-gap: 100px;
}

.article_image {
  opacity: 0.7;
  transition: 0.3s;
}

.article_image:hover {
  opacity: 1;
}

.article_content_under {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_content_under p {
  width: 560px;
  font-size: 20px;
}

.article_button {
  padding: 14px 20px;
  font-size: 12px;
  vertical-align: middle;
  color: white;
  background-color: #74cfae;
  margin-left: 90px;
  text-decoration: none;
  transition: 0.3s;
}

.article_button:hover {
    color: #333;
}

.bolt_figure {
  background-color: #4e4e4e;
}

.figure_inner {
  padding: 70px 0 100px;
  text-align: center;
}

.figure_inner p, .figure_inner h2 {
  color: white;
}

.figure_inner h2 {
  font-size: 24px;
}

.figure_wrapper {
  margin-top: 50px;
}

.figure_content {
  display: flex;
  justify-content: center;
}

.figure_content_item {
  margin-left: 180px;
}

.figure_content_item:first-child {
  margin-left: 0px;
}

.figure_content_item p {
  margin-top: 10px;
  font-size: 16px;
}

.bolt_nav {
  background-color: #f2f2f2;
}

.nav_inner  {
  padding: 200px 0;  
}

.nav_button {
  display: flex;
  justify-content: center;
}

.nav_hover {
  width: 185px;
  text-align: center;
  transition: 0.3s;
}

.nav_icon {
  display: block;
  height: 100%;
  padding: 20px 0;
}

.nav_hover:hover {
  background-color: white;
}

.nav_inner i {
  color:  #74cfae;
}

.bolt_footer {
  background-color: #74cfae;
}

.footer_inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer_inner p {
  font-size: 12px;
  color: white;
}